<form action="/categorys" method="post">
  <div class="form-group col-sm-6">
    <label for="name" class="control-label">category Name:</label>
    <input type="text" name="category[name]" placeholder="category Name" id="name" class="form-control">
  </div>

</form>
