<h2>Each Category's Page</h2>

<h3>
  The name of this category is <%= @category[:name]%> <a href= "/categories/<%= @category[:id]%>/edit">Change Me!</a>
</h3>

<p>
  <strong>Id of this category:</strong><%= @category[:id]%>
</p>
